@{
    ViewData["Title"] = "About Menu";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>
<p>Aluno @ViewData["Student"]</p>

<address>
    <strong>Mais informações: </strong> <a href="https://correio.sarah.br/">Correio</a>
</address>